<ol class="breadcrumb">
  <li><a href="#">Inicio</a></li>
  <li class="active">{{category.test}}</li>
</ol>

<!--<div class="row text-center">
  <h2 class="text-uppercase"><small>{{category.test}}</small></h2>
</div>-->

<ul id="category-list" class="row">
  <li class="category-item col-md-4" ng-repeat="categoryitem in category.data | orderBy: '-clicks'">
    <a href="{{categoryitem.url}}" target="_blank">
      <button ng-style="{'background-color': categoryitem.color}" ng-click="category.clickUp(categoryitem)" class="btn btn-primary btn-block">
        <h5 class="text-uppercase">{{categoryitem.name}}<md-icon ng-if="categoryitem.clicks > 10" class="material-icons md-light md-36 icon-state "> whatshot </md-icon></h5>
      </button>
    </a>
  </li>
</ul>
